body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.hd{
	width: 100%;
	height: 3%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 15px;
	border:3px solid rgb(140,140,140);
}

h1{
	font-family: "georgia", georgia,serif;
	color: rgb(80,80,80);

}


.slider{
	background-size: 100%;

	width: 95%;
	max-width: 900px;
	margin: auto;
	overflow: hidden;

	border: 2px solid black;
	border-radius: 3px;
}
.slider ul{
	display: flex;
	padding: 0;
	margin:auto;
	width: 400%;


	animation: cambio 20s infinite alternate;
}
.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	width: 100%;
}
@keyframes cambio {
	0% {margin-left: 0;}
	22% {margin-left: 0;}
	
	27% {margin-left: -100%;}
	47% {margin-left: -100%;}
	
	52% {margin-left: -200%;}
	72% {margin-left: -200%;}
	
	77% {margin-left: -300%;}
	100% {margin-left: -300%;}
}