* {
	margin:0px;
	padding:0px;
	-webkit-box.sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
 
body {
    background-image: url('../img/Fondos/Fondo.png');
}

.title {
	font-family: 'Lobster';
	font-family: 'Carter One';
	font-size: 70px;
	color: #17A3CC;
	text-shadow: -3px -3px 3px #000, 3px 3px 3px #000, -3px 15px 3px #000, 3px -3px 3px #000;
	letter-spacing: 1px;
	line-height: 100%;
	text-align: center;
	}

.subtitle{
	font-family: 'Lobster';
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 7px 2px #000, 2px -2px 2px #000;
	color: #17A3CC;
	font-size: 45px;
	text-align: center;
}

 .menu_bar {
	display:none;
}

header {
	width:100%;
}
 
header nav {
	width:92%;
	max-width:1246px;
	margin:20px auto;
	background:#17A3CC;
	box-shadow: -3px -3px 3px #000, 3px 3px 3px #000, -3px 0px 3px #000, 3px -3px 3px #000;
	z-index: 1000;
}

 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display: inline-block;
	position: relative;
}
 
header nav ul li a {
	font-family: 'Chelsea Market', cursive;
	color:#fff;
	padding:16px;
	padding-top:15px;
	padding-bottom:15px;
	margin-right: 8px;
	display:block;
	text-decoration:none;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover {
	background:#0F7C9C;
	
}
 
header nav ul li:hover .children{
display: block;
}

header nav ul li .children{
	display: none;
	background: #17A3CC;
	position: absolute;
	width: 150%;
	z-index: 1000;
}

header nav ul li .children li{
	display: block;
	overflow:hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a{
	display: block;
}

header nav ul li .children li a span{
	float: right;
	position: relative;
	top:3px;
	margin-right: 0;
	margin-left: 10px;	
}

header nav ul li .cursor{
	position: relative;
	top:3px;
	margin-left: 10px;
	margin-right: 0px;
}

p span.subtitulos{
	color: red;
}

div.class{
    width: 70%;
	height: 50px;
}

#meta{
	width: 70%;
	height: 45px;
	border: 1px solid black;
	margin-left: 30px;
	font-size: 20px;
	color: red;
}

.titles{
   width: 300px;
   height: 60px;
   margin-left: 25px;
}

h1{
	font-family: 'Carter One';
	font-size: 50px;
	text-align: center;
	color: #17A3CC; 
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 7px 2px #000, 2px -2px 2px #000;
}

h3{
	font-family: 'Carter One';
	margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
	color: #000;
	text-align: justify;
	font-size: 40px;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 7px 2px #000, 2px -2px 2px #000;
}

p{
	font-family: 'Chelsea Market';
	margin-top: 20px;
    margin-right: 68px;
    margin-left: 68px;
	color: #000;
	text-align: justify;
	padding: 15px 30px;
	font-size: 23px;
}

h5{
	font-family: 'Carter One';
	margin-top: 20px;
    margin-right: 68px;
    margin-left: 68px;
	color: #17A3CC;
	padding: 15px 30px;
	text-align: justify;
	font-size: 30px;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 6px 1px #000, 1px -1px 1px #000;
}

.h{
	font-family: 'Carter One';
    margin-right: 68px;
    margin-left: 68px;
	color: #17A3CC;
	padding: 15px 30px;
	text-align: justify;
	font-size: 40px;
	text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 7px 2px #000, 2px -2px 2px #000;
}

.pf{
	font-family: 'Chelsea Market';
	margin-top: 20px;
    margin-right: 68px;
    margin-left: 68px;
	color: #000;
	text-align: justify;
	padding: 15px 30px;
	font-size: 23px;
}
