@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5opilc');
  src:  url('fonts/icomoon.eot?5opilc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5opilc') format('truetype'),
    url('fonts/icomoon.woff?5opilc') format('woff'),
    url('fonts/icomoon.svg?5opilc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-home3:before {
  content: "\e902";
}
.icon-book:before {
  content: "\e91f";
}
.icon-profile:before {
  content: "\e923";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
